

body {
  margin: 0;
  padding: 0;
  overflow-x: auto;
}
table {
  border-collapse: collapse;
  margin-top: 40px;
  width: 100%;
  border: 2px solid black; /* 테두리 추가 */
}
th {
  border: 1px solid black !important; /* 테두리 유지 */
  padding: 10px;
  text-align: center; /* 가로 중앙 정렬 */
  vertical-align: middle !important; /* 세로 중앙 정렬 (강제 적용) */
}
td {
  border: 1px solid black;
  padding: 1px;
  text-align: center;
  vertical-align: middle !important; /* 세로 중앙 정렬 (강제 적용) */
}
/* 이미지가 들어있는 셀에 대한 패딩 제거 */
td:nth-child(3) {
  padding: 0;
}
body > table > tbody > tr > td {
  border: 1px solid black;
}
.text-month {
  margin-top: 10px;
}
.notice {
  margin-top: 5px;
  color: red;
}
img.thumbnail {
  width: 100%; /* 셀 너비에 맞게 꽉 채움 */
  height: auto;
  object-fit: cover; /* 이미지 비율 유지 */
  display: block; /* 이미지를 블록 요소로 설정 */
  margin: 0; /* 마진 제거 */
  padding: 0; /* 패딩 제거 */
}
button.btn_mem_delete {
  cursor: pointer;
}
.btn {
  display: inline-block;
  padding: 5px 10px;
  margin-right: 5px;
  border: 1px solid #ccc;
  text-decoration: none;
  color: #333;
}
a.btn.active {
  background-color: #007bff !important;
  color: #ffffff !important;
  border-color: #007bff !important;
}
.big_image {
  cursor: pointer;
}
/* 다운로드 링크 밑줄 제거 */
.big_image a {
  text-decoration: none; /* 밑줄 제거 */
  color: #333; /* 링크 색상 (원하는 색상으로 변경 가능) */
}
/* 선택적으로 호버 효과 추가 */
.big_image a:hover {
  text-decoration: none; /* 호버 시에도 밑줄 없음 */
  color: #000; /* 호버 시 색상 변경 (선택 사항) */
}
.summary-input {
  width: 100%;
  height: calc(100% - 20px); /* 셀의 높이에서 상하 여백을 제외한 값으로 조정 */
  box-sizing: border-box;
}
@media (max-width: 580px) {
  img.thumbnail {
    max-width: 100%;
    height: auto;
  }
  * {
    font-size: 14px;
  }
}