.container > nav > div > a > img {   /* 헤드 로고 이미지 */
  width: 2rem;
}



footer > div > img {   /* 푸터 로고 이미지 */
  width: 4rem;
}

body > div.container > nav > div > span {
  font-size: 24px;
}


div > label.asterisk_7::after {
  content: '*';
  color: red;
  font-size: 22px;
}

/* 데이타 입력부분 유효성검사를 통과하지못하면 */
input:invalid {
  border: rgb(246, 136, 111) solid 1px;
}

/* #f_tel {
  border: red solid 3px;
} */






/* @media ( min-width : 768px) {
  body {
    background-color: yellow;
  }
}

@media ( min-width : 992px) {
  body {
    background-color: lime;
  }
}
@media ( min-width : 1200px) {
  body {
    background-color: orange;
  }
} */