@charset "utf-8";

body {
  background-color: rgba(225, 225, 225, 0.8);
  margin: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  border: 2px solid red;
}

header, main, footer {
  border: 1px solid red;
  padding: 10px;
}

@media (max-width: 670px) {
  .container {
    max-width: 670px;
  }
}

@media (max-width: 480px) {
  .container {
    max-width: 100%;
    margin: 0;
    padding: 0;
  }
  header, main, footer {
    padding: 5px;
  }
}