body {
  background: linear-gradient(135deg, #6f42c1, #6610f2);
  min-height: 100vh;
  color: #fff;
  font-family: 'Noto Sans KR', sans-serif;
}

h2 {
  font-weight: bold;
  color: #fff;
}

.table {
  background-color: #fff;
  color: #000;
  border-radius: 1rem;
  overflow: hidden;
}

.table thead.table-dark th {
  background-color: #343a40;
  color: #fff;
}

.btn-warning {
  margin-right: 5px;
}

.btn-Success {
  margin-right: 3px;
}

.btn-Primary {
  margin-right: 3px;
}

#message {
  font-weight: bold;
  color: #ffc107;
}
