body {
  background: linear-gradient(135deg, #6f42c1, #6610f2);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  border-radius: 1rem;
}

h2.card-title {
  font-weight: bold;
  color: #343a40;
}

#message {
  font-weight: bold;
  color: green;
}
